@import "tailwindcss";

@font-face {
  font-family: "Soligant";
  /* FIX: Changed 'soligant.ttf' to 'Soligant.ttf' to match file casing */
  src: url("/font/Soligant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams";
  src: url("/font/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}